/* Agregación de fuente mickye */
@font-face{font-family: hollywood; src: url(fuentes/SFHollywoodHills.ttf)}
@font-face{font-family: starwars; src: url(fuentes/Starjedi.ttf)}
@font-face{font-family: deadman; src: url(fuentes/deadman.ttf)}

	body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	margin:0;
	padding: 0;
	}

	#cabecera{
	padding-top: 0px;
	float:left;
	height: 80px;
	position: fixed;
	top:0;
	width: 100%;
	background:rgba(000,000,000,0.85);
	color: black;
	font-size: 15px;
	}

	#icono{
	width: 10%;
	float:left;
	padding-top: 0.7%;
	padding-left: 1.5%;
	height: 30px;
	width: 30px;
	}

	#titulo{
	float:left;
	padding-left:2%;
	font-size: 300%;
	color:white;
	font-family: hollywood;
	line-height: 150%;
	font-size: 1.5em;
	}

	#titulo a{
		text-decoration: none;
		color: white;
	}

	#buscador{
	padding-left: 2%;
	border-radius: 10px;
	float:left;
	width: 20px;
	line-height: 200%; 
	}

	#buscador > input{
	border-radius: 8px;
	text-align: right;
	width: 100px;
	}

	#izquierda{
	float:left;
	width: 50%;
	}
	#derecha{
	float:left;
	margin-right: 1%;
	}

	#menu { 
	margin-top: 0%;
	text-align: center;
	width:100%;
	float: left;
	line-height: 65%;
	font-size: 0.4em;
	}

	ul, ol {
	list-style:none;/*quitar los puntos de la lista*/
	}

	.navegacion > li {
	float:left;
	}

	.navegacion li a {
	background-color:transparent;
	color:white;
	text-decoration:none;
	padding:20px 17px;
	display:block;
	font-family:hollywood;
	font-size: 150%;
	}

	.navegacion li a:hover {/*Al pasar el raton por encima cambia de color*/
	background-color:white;
	color:black;
	transition: background-color 1s;
	}

	#contenido{
	border-radius: 10px;
	background: linear-gradient(black,#474445);
	color: white;
	margin-top: 90px;
	margin-left: 2%;
	margin-right: 7%;
	animation-name: borde;
	animation-duration: 30s;
	border: 5px solid #DB055D;
	}

	#titulo2{
	padding-top: 3%;
	padding-left: 2%;
	font-size: 1.4em;
	text-align: center;
	font-family: starwars;
	}

	@keyframes borde {
	  from {border: 5px solid #DB055D;}
	  to {border: 5px solid #F1B80C;}
	}

	#texto{
	font-family: deadman;
	padding-left:2%;
	padding-top: 2%;
	font-size: 0.8em; 
	}

	#imags{
	text-align: center;
	}

	#imags img{
	float: left
	padding-left: 5%;
	padding-right: 5%;
	}

	#imags > #foto1{
	height: 50px;
	width: 150px;
	}

	#imags > #foto2{
	height: 100px;
	width: 100px;
	}

	#pie{
	padding-top: 0px;
	float:left;
	height: 40px;
	margin-top: 7%;
	bottom: 0;
	width: 100%;
	background:rgba(000,000,000,0.5);
	color: white;
	font-size: 0.9em;
	}

	footer #follow{
	padding-left: 2%;
	font-family: deadman;
	float: left;
	padding-right: 15%;
	line-height: 200%;
	}


	footer img{
	float:left;
	width: 20px;
	height: 20px;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 10px;
	}
	

@media(min-width: 423px ){
	body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	margin:0;
	padding: 0;
	}

	#cabecera{
	padding-top: 0px;
	float:left;
	height: 100px;
	position: fixed;
	top:0;
	width: 100%;
	background:rgba(000,000,000,0.85);
	color: black;
	font-size: 15px;
	}

	#icono{
	width: 10%;
	float:left;
	padding-top: 0.7%;
	padding-left: 1.5%;
	height: 30px;
	width: 30px;
	}

	#titulo{
	float:left;
	padding-left:2%;
	font-size: 300%;
	color:red;
	font-family: hollywood;
	line-height: 150%;
	font-size: 1.5em;
	}

	#titulo a{
		text-decoration: none;
		color: white;
	}

	#buscador{
	border-radius: 10px;
	float:right;
	line-height: 180%;
	width: 130px;
	margin-right: 6%;
	}

	#buscador > input{
	border-radius: 8px;
	text-align: right;
	width: 100%;
	}

	#izquierda{
	float:left;
	width: 50%;
	}
	#derecha{
	float:left;
	margin-right: 1%;
	}

	#menu { 
	margin-top: 0%;
	text-align: center;
	width:100%;
	float: left;
	line-height: 65%;
	font-size: 0.6em;
	}

	ul, ol {
	list-style:none;/*quitar los puntos de la lista*/
	}

	.navegacion > li {
	float:left;
	}

	.navegacion li a {
	background-color:transparent;
	color:white;
	text-decoration:none;
	padding:20px 17px;
	display:block;
	font-family:hollywood;
	font-size: 150%;
	}

	.navegacion li a:hover {/*Al pasar el raton por encima cambia de color*/
	background-color:white;
	color:black;
	transition: background-color 1s;
	}

	#contenido{
	border-radius: 10px;
	background: linear-gradient(black,#474445);
	color: white;
	margin-top: 120px;
	margin-left: 2%;
	margin-right: 7%;
	animation-name: borde;
	animation-duration: 30s;
	border: 5px solid #DB055D;
	}

	#titulo2{
	padding-top: 3%;
	padding-left: 2%;
	font-size: 1.4em;
	text-align: center;
	font-family: starwars;
	}

	@keyframes borde {
	  from {border: 5px solid #DB055D;}
	  to {border: 5px solid #F1B80C;}
	}

	#texto{
	font-family: deadman;
	padding-left:2%;
	padding-top: 2%;
	font-size: 0.8em; 
	}

	#imags{
	text-align: center;
	}

	#imags img{
	float: left
	padding-left: 5%;
	padding-right: 5%;
	}

	#imags > #foto1{
	height: 50px;
	width: 150px;
	}

	#imags > #foto2{
	height: 100px;
	width: 100px;
	}

	#pie{
	padding-top: 0px;
	float:left;
	height: 40px;
	margin-top: 7%;
	bottom: 0;
	width: 100%;
	background:rgba(000,000,000,0.5);
	color: white;
	font-size: 0.9em;
	}

	footer #follow{
	padding-left: 2%;
	font-family: deadman;
	float: left;
	padding-right: 15%;
	line-height: 200%;
	}


	footer img{
	float:left;
	width: 20px;
	height: 20px;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 10px;
	}
}

